In [6]:
import numpy as np

In [7]:
a = np.array([1,2,3,4,5])
print(type(a))
print(a.ndim)
print(a.shape)
print(a.dtype)
print(a.size)

<class 'numpy.ndarray'>
1
(5,)
int64
5

In [8]:
import pandas as pd
info = np.array(['p','a','n','d','a','s'])
a = pd.Series(info)
print(a)

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [12]:
data = [['alex',10],['bob',12],['clarke',14]]
df = pd.DataFrame(data,columns =['name','age'])
print(df)

     name  age
0    alex   10
1     bob   12
2  clarke   14